<div class="hero-unit">
<h1>Delete article</h1>

<%= form_for(:articles, :url=>{:action=> 'sakujo_suru', :id => @articles.id}) do |f| %>

<p>Are you shure you want delete this article?</p>

<p><%= @articles.name %></p>

<div style="text-align: center;">
	<%= link_to "Back", {:action => 'index'}, :class => 'btn btn-primary'%>
	<%= submit_tag 'Delete', :class => 'btn btn-danger' %>
</div>


<% end %>
</div>