<div class="hero-unit">
<h1>Delete photo</h1>

<%= form_for(:photos, :url=>{:action=> 'sakujo_suru', :id => @photos.id}) do |f| %>

<p>Are you shure you want delete this photo?</p>

<p><%= @photos.name %></p>

<div style="text-align: center;">
	<%= link_to "Back", {:action => 'index'}, :class => 'btn btn-primary'%>
	<%= submit_tag 'Delete', :class => 'btn btn-danger' %>
</div>


<% end %>
</div>
