<div class="hero-unit">
<h1>Delete gallery</h1>

<%= form_for(:galleries, :url=>{:action=> 'sakujo_suru', :id => @galleries.id}) do |f| %>

<p>Are you shure you want delete this gallery?</p>

<p><%= @galleries.name %></p>

<div style="text-align: center;">
	<%= link_to "Back", {:action => 'index'}, :class => 'btn btn-primary'%>
	<%= submit_tag 'Delete', :class => 'btn btn-danger' %>
</div>


<% end %>
</div>
