<h1>New category</h1>
<%= link_to("Back", {:action => 'index'})%>
<%= form_for(:category, :url=>{:action=> 'create'}) do |f| %>
<%= render(:partial => "form", :locals => {:f => f}) %>


<div>
	<%= submit_tag 'Submit' %>
</div>

<% end %>